body, html {
	margin: 0px;
	padding: 0px;
}

.header, h1, h2{
	background-color: blue;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: white;
}

.gameboard {
	width: 80%;
	height: 800px;
	border: solid black 5px;
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	width: 20%;
	height: 20%;
	margin: 0 auto;
	background-color: aqua;
	padding: 10px;
}