body, html {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

.card {
	min-width: 150px;
	min-height: 150px;
	margin: 5px;
	background-color: white;
	padding-left:5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-right: 5px;
	border-radius: 15px;
	background-repeat: no-repeat;
    background-size: contain, cover;
	background-position: center center;
	background-color: black;
	
}

.card:hover {
   


}


.flip {
	transition: 0.2s;
	transform: rotateY(360deg);
	transform-style: preserve-3d;
	position: relative;
	backface-visibility: hidden;

}

.flip-back {
	transition: 0.2s;
	transform: rotateY(-360deg);
	transform-style: preserve-3d;
	position: relative;
	backface-visibility: hidden;

}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}	


@keyframes match {

0% { box-shadow: 0px 0px 5px 5px green };
30% { box-shadow: 0px 0px 0px 0px black };
60% { box-shadow: 0px 0px 5px 5px green };
90% { box-shadow: 0px 0px 0px 0px black };
100% { box-shadow: 0px 0px 5px 5px green };

}


.shake {
	animation: shake 1s;
	transform: translate3d(0, 0, 0);
}

.no-shake {
}



.gameboard {
	position: relative;
	max-width: 700px;
	max-height: 700px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #0d0d0d;
	box-shadow: 10px 10px 10px #1a1a1a;
	border-radius: 25px;
}

.header, h1, h2{
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	color: #9d2c27;
	text-shadow: 1px 2px 3px black;
}

.header {
	margin: 15px;
}

.game-details {
	max-width: 700px;
	margin: 0 auto;
	min-height: 25px;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	font-size: 1em;
	text-shadow: 1px 2px 3px black;
	font-weight: 900;
	color: #9d2c27;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
}

.r1 {
	order: 1;
	min-width: auto;
}
.r2 {
	order: 2;
	min-width: 50px;
}
.r3 {
	order: 3;
	min-width: 50px;
}

.ranking {
	margin: 0 auto;
	min-width: 50px;
	min-height: 50px;
	border-radius: 25px;
	background: url(../images/mono-coin.png);
	background-repeat: no-repeat;
    background-size: contain, cover;
	background-position: center center;
}

.restart-game {
	max-width: 50%;
	min-height: 5px;
	margin: 0 auto;
	border-radius: 25px;
	background-color: white;
	color: red;
	justify-content: center;
}

.row {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.win-Screen {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	justify-content: center;
	background-color: white;
	box-shadow: 5px 5px 5px black;
	margin: -20% 0 0 -15%;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	border: 10px solid #1a1a1a;
	border-radius: 25px;
	z-index: 10;
}

.win-Screen-content {
	max-width: 100%;
	max-height: 25%;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
	flex-direction: row;
	padding-bottom: 15px;
	padding-top: 10px;
}

#play-again:hover, #restart:hover{ 
    background-color: #595959;
	cursor: pointer;
}

#timer, #move-counter {
	width: 20%;
	padding: 5px;
	color: red;
	background-color: #9d2c27;
	border: 2px inset black;
	border-radius: 25px;
}

#restart {
	width: 100%;
	border: 2px inset black; 
	margin: 10px;
	background-color: #9d2c27;
}

#play-again {
	border: 2px inset black; 
	padding: 5px;
	background-color: black;
	text-shadow: 1px 2px 3px black;
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#score {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	min-width: 50%;
	background: white;
}

@media screen and (min-width: 1900px){
	.win-Screen {
		width: 500px;
		height: 300px;
		position: fixed;
		top: 25%;
		margin: -150px 0 0 -250px;
		}
	}

@media screen and (min-width: 901px) and (max-width: 1899px){
	.win-Screen {
		width: 300px;
		height: 300px;
		position: fixed;
		top: 25%;
		margin: -150px 0 0 -150px;
		}
	}

@media screen and (max-width: 900px) and (min-width: 566px){
	.card {
		min-width: 100px;
		min-height: 100px;
	}

	.gameboard {
		max-width: 500px;
		max-height: 700px;
	}

	.game-details {
		max-width: 500px;
	}

	.ranking {
		margin: 0 auto;
		min-width: 40px;
		min-height: 40px;
	}

	.win-Screen {
		width: 250px;
		height: 250px;
		position: fixed;
		top: 25%;
		margin: -125px 0 0 -125px;
		}
	}

@media screen and (max-width: 566px) {
	.card {
		min-width: 64px;
		min-height: 64px;
	}

	.gameboard {
		max-width: 350px;
		max-height: 500px;
	}

	.game-details {
		max-width: 350px;
		font-size: 14px;
	}

	.ranking {
		margin: 0 auto;
		min-width: 40px;
		min-height: 40px;
	}

	.win-Screen-content div {
		min-width: 40px;
		min-height: 40px;
		margin: 5px;
	}
	
	.score div {
		min-width: 30px;
		min-height: 30px;
		margin: 5px;
	}
	
	.win-Screen {
		width: 250px;
		height: 250px;
		position: fixed;
		top: 20%;
		margin: -125px 0 0 -125px;
	}
	
}
